@media screen and (max-width:"640px"){

  .header{

    margin: 1em 0;
    &__logo-container{
      max-height: 38px;
      margin-left:1em;
      margin-top:1em;

      img{

        max-height: inherit;
      }

    }
  }
}
  .header{

    &__logo-container{
      max-height: 50px;

      img{

        max-height: inherit;
      }

    }
  }

