.send-backward{

  z-index:1;
}

.my-index{

  z-index: 100;
}

.cart{
 top:37%;
 left: 34%;
}
.cart-gracias{
 top:37%;
 left: 70%;
}
.box{
 top:47%;
 left: 5%;
}
.mushroom{
 top:8%;
 left: 55%;
}
.mushroom-gracias{
 top:70%;
 left: 55%;
}
.polygon{
 top:0%;
 left: 20%;
}
.polygon-gracias{
 top:0%;
 left: 5%;
}
.tonus{
 top:-10%;
 right: -13%;
}

#hero{
  min-height: 120vh;
}

.arrow-cta{
    &__container{
      max-height: 20px;

      h4{
        font-weight: 300;
      }
    }

    &__arrow-image{
      max-height: inherit;
      margin-top: 2px;

    }


}

.form-container{
  margin-left: auto;
  margin-right: auto;
}

.arrow-container,.form-container,.form-container form{
  max-width: 300px;
  min-width: 300px;

}

.arrow-container{
  min-height: 52px;


}
.form-container form{
  min-height: 300px;


}

.g-recaptcha{
  transform: scale(0.88);
  transform-origin: 0 0;
  margin-left: auto;
  margin-right: auto;
}



.input-container{

  input{
    font-family: 'Space Mono';
    color: #a0a0a0;

}


  label{
    color: #565656;
    top:0px;
    left:2%;
    font-family: 'Poppins';
    font-size: 10px;
  }
}

@media screen and (min-width:"1024px"){

  #hero{
    min-height: 170vh;
  }
}
