.arrow-cta{
    &__container{
      max-height: 20px;

      h4{
        font-weight: 300;
      }
    }

    &__arrow-image{
      max-height: inherit;
      margin-top: 2px;

    }


}

.form-container{
  margin-left: auto;
  margin-right: auto;
}

.arrow-container,.form-container,.form-container form{
  max-width: 345px;
  min-width: 280px;

}

.arrow-container{
  min-height: 52px;


}
.form-container form{
  min-height: 300px;


}

.g-recaptcha{
  transform: scale(0.88);
  transform-origin: 0 0;
  margin-left: auto;
  margin-right: auto;
}



.input-container{

  input{
    font-family: 'Space Mono';
    color: #a0a0a0;

}


  label{
    color: #565656;
    top:0px;
    left:2%;
    font-family: 'Poppins';
    font-size: 10px;
  }
}

