.modal{

  &-image{
    position: absolute;
    right:13.35%;
    top:13.5%;
    transform: rotate(45deg);
  }

  &-image-container{
    position: relative;
    padding-top:0%;
    margin-left: 0%;
    // margin-bottom: -1%;
    height: 31px;
    width:31px;
  }
}

.hide{
  display: none;
  position:fixed;
  opacity: 0;
}

.appear{
  display:block;
  padding-top: 5%;
  background: rgba(0,0,0,.85);
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:190;
  animation:show 350ms ease-in 1;
}

@keyframes show {
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }
}