.projects{
  @media screen and (min-width:"1024px"){

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 86%, rgba(0,0,0,0) 86%);
  }
}
.projects__image{

  top:18%;
}


.projects__arrow-cta{

  font-family: 'Poppins', sans-serif;
  letter-spacing: 10px;
}

@media screen and (min-width:"1024px"){

  .projects__form-container{

    min-height:90vh;
  }

}

@media screen and (min-width:"1430px"){

  .projects__form-container{
    padding-top: 8rem;

  }
  .projects__image{
    top:15%;
    max-width: 50%;

  }

}



