.projects__image{

  top:18%;
}


.projects__arrow-cta{

  font-family: 'Montserrat', sans-serif;
  letter-spacing: 10px;
}

@media screen and (min-width:"1024px"){

  .projects__form-container{

    min-height:100vh;
  }

}

@media screen and (min-width:"1470px"){

  .projects__form-container{

    min-height:130vh;
    padding-top: 8rem;

    h4{
      font-size: 64px;
    }
  }
  .projects__image{
    top:15%;
    max-width: 65%;

  }

}
@media screen and (min-width:"1600px"){

  .projects__image{
    top:11%;
    max-width: 65%;

  }

}
@media screen and (min-width:"1770px"){

  .projects__image{
    top:12%;
    max-width: 55%;

  }

}


