.projects{
  @media screen and (min-width:"1024px"){

    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 86%, rgba(0,0,0,0) 86%);
  }
}
.projects__image{

  top:18%;
}


.projects__arrow-cta{

  font-family: 'Poppins', sans-serif;
  letter-spacing: 10px;
}

@media screen and (min-width:"1024px"){

  .projects__form-container{

    min-height:90vh;
  }

}

@media screen and (min-width:"1430px"){

  .projects__form-container{
    padding-top: 8rem;

    .my-h4{
      font-size: 64px;
    }
  }
  .projects__image{
    top:15%;
    max-width: 65%;

  }

}
@media screen and (min-width:"1650px"){

  .projects__info-title{
    margin-top: -3rem;
  }
  .projects__arrow-cta-container{
    margin: 6.8rem 0 5rem 0;
  }

  .projects__image{
    top:13%;
    max-width: 65%;

  }

  .projects__title{
    font-size: 56px;
  }
  .projects__info-title,.projects__info{
    font-size: 16px;
  }

}
@media screen and (min-width:"1800px"){

  .projects__info-container{
    padding-left: 8rem;
    padding-right: 19%;
  }
  .projects__arrow-cta-container{
    font-size: 18px;
    margin: 15rem 0 4rem 0;
  }

  .projects__image{
    top:10.5%;
    max-width: 65%;

  }

}


