@media screen and (min-width:"1024px"){


.arrows{

  .arrow-cta__arrow-image:nth-of-type(1){

      margin-top: 4px;
  }
}
}

.fixed-container{
  bottom: 33.5%;
  right: 0;
  z-index:100;
  transition: ease-in .2s;
}

.moved-container{
  bottom: 10%;
  right: 0;
  z-index:100;
  transition: ease-in .2s;

}

.fixed{

  transition: .5s;
}

.arrow-contract{
  height: 3.7rem;
  transition:.2s;

  p{
    display: none;
  }
}
.contract-hover{

  &:hover{
    height: 7.5rem;

    p{
      display: block;
    }
  }
}

@media screen and (min-width:"641px"){

  .arrow-cta{
    height: 7.5rem;
    transition:.2s;

  }
}
@media screen and (max-width:"640px"){

  .arrow-cta{
    height: 3.7rem;
    transition:.2s;

  }
}

@media screen and (min-width:"1500px"){
  .services__title{
    font-size: 50px;
  }

  .services__info-title{
    font-size: 24px;

  }

  .services__info-container{
    margin-top:2.25rem;
  }
  .services__info{
    font-size: 14px;
  }
}

@media screen and (min-width:"1650px"){
  .services__title{
    font-size: 56px;
  }

  .services__info-title{
    font-size: 28px;

  }

  .services__info-container{
    margin-top:2.25rem;
  }
  .services__info{
    font-size: 16px;
  }
}
@media screen and (min-width:"1800px"){

  .services__enfoque-title{
    font-size: 28px;
  }
  .services__enfoque-info{
    font-size: 60px;
  }


  .services__title{
    font-size: 60px;
  }

  .services__info-title{
    font-size: 30px;

  }

  .services__info-container{
    margin-top:2.25rem;
  }
  .services__info{
    font-size: 18px;
  }
}
