    #strong,#strong1,#strong3,#strong4{
      font-weight: 300;
      color: #193EFF;
    }


  .steps-octagon{
    top: 41.5%;
    right: -20%;
    z-index:-1;
  }
  .steps-second-square{
    top: 17.5%;
    left: -20%;
    z-index:-1;
  }

  .mb-slider{
    height: 75vh;
  }
  .max-h-85{
    height: 85vh;
  }

  .p-slider-steps{
    padding-left: 4.18%;
    top:3%;
  }
  .h-slider-steps{
    padding-left: 3.3%;
    top:0%;
  }


  .steps-first-square{
    top: 65%;
    right: -20%;
    z-index:-1;
  }

  @media screen and (min-width:"1024px"){

    #strong3,#strong4{
      font-weight: 300;
      color: #FFCB12;
    }

    .img-primer{
      max-width:60%;
    }

    .img-segundo{
        top:25%;
        left:0;
        max-width: 60%;
    }

    .tercer{
      padding-right:10%;
    }

    .img-tercer{
      max-width: 60%;
      bottom:-202px;
      right:0;

    }

    .cuarto,.quinto{
      padding-right: 8rem;
    }


  }

@media screen and (min-width:"1280px"){

  .img-primer{
    max-width:80%;
  }
  .img-segundo{
    top:18%;
    right:none;
    left:0;
    max-height: 100%;
  }

}


