  .segundo{
    strong{
      font-weight: 300;
      color: #193EFF;
    }
  }
  .tercer{
    strong{
      font-weight: 300;
      color: #193EFF;
    }
  }
  .quinto{
    strong{
      font-weight: 300;
      color: #FFCB12;
    }
  }
@media screen and (min-width:"1024px"){

  .img-primer{
    max-width:60%;
  }

  .img-segundo{
      top:25%;
      left:0;
      max-width: 60%;
  }

  .tercer{
    padding-right:10%;
  }

  .img-tercer{
    max-width: 60%;
    bottom:-90px;
    right:0;

  }

  .cuarto,.quinto{
    padding-right: 8rem;
  }


}

@media screen and (min-width:"1280px"){

  .img-primer{
    max-width:80%;
  }
  .img-segundo{
    top:18%;
    right:none;
    left:0;
    max-height: 100%;
  }

  .img-tercer{
    bottom:-90px;


  }

}


