.img-segundo{
  top:10%;
  max-height: 100%;
}

.img-tercer{
  max-height: 140%;
  top:50%;
  right:0;

}

.segundo{
  strong{
    font-weight: 300;
    color: #193EFF;
  }
}
.tercer{
  strong{
    font-weight: 300;
    color: #193EFF;
  }
}
.quinto{
  strong{
    font-weight: 300;
    color: #FFCB12;
  }
}

