body {
  margin: 0;

  p{
    font-family: 'space mono'
  }
  
  h1{
    font-family: 'Poppins'
    
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-blue{
  background: #0094FF;
}
.text-gray{
  color: #6e6e6e;
}