
body {
  margin: 0;

  p{
    font-family: 'space mono'
  }

  h1,h2,h3,h4,a{
    font-family: 'Poppins'

  }

  h2{
    font-weight: 300;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.bg-blue{
  background: #193EFF;
}
.bg-blue-secondary{
  background: #C7D0FF;
}
.text-gray{
  color: #6e6e6e;
}

.text-blue{

  color:#193EFF;
}

.text-semibig{

  @media screen and (max-width:"640px"){

    font-size: 22px;
}
}

.text-shadow{

  box-shadow: 0px 13px 25px rgba(0, 41, 255, 0.7);
}
.text-shadow-second{

  box-shadow: 0px 13px 25px rgba(0, 41, 255, 0.2);
}

@import 'sass/_hero.scss';
@import 'sass/_steps.scss';
@import 'sass/_brands.scss';
@import 'sass/_projects.scss';
@import 'sass/_services.scss';
@import 'sass/_header.scss';
