
body {
  margin: 0;

  p{
    font-family: 'space mono'
  }

  h1,h2,h3,h4{
    font-family: 'Poppins'

  }

  h2{
    font-weight: 300;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.bg-blue{
  background: #0094FF;
}
.text-gray{
  color: #6e6e6e;
}

@import 'sass/_hero.scss';
@import 'sass/_steps.scss';
@import 'sass/_brands.scss';
@import 'sass/_projects.scss';
